<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<h1>Socket Client Webapp <small>1.0</small>
				</h1>
			</div>
			
			<!-- Cục cảm biến mưa -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">Cảm biến mưa</h3>
					Kết quả: {{CamBienMua}}
				</div>
			</div>
			
			<!-- Cục cập nhập giá trị cảm biến -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">Cập nhập cảm biến</h3>
					<button class="button" ng-click="updateSensor()">
						Nhấn vô dể cập nhập giá trị cảm biến
					</button>
				</div>
			</div>
			
			<!-- Cục cập nhập led-->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">cổng</h3>
					<button class="\button" ng-click="upt5()">ON D5</button>
					<button class="\button" ng-click="upt5.1()">Off D5</button>
					<button class="\button" ng-click="upt6()">ON D6</button>
					<button class="\button" ng-click="upt6.1()">Off D6</button>
					<button class="\button" ng-click="upt7()">ON D7</button>
					<button class="\button" ng-click="upt7.1()">Off D7</button>
					<button class="\button" ng-click="upt8()">ON D8</button>
					<button class="\button" ng-click="upt8.1()">Off D8</button>
				</div>
				
			</div>		
			
	
		</div>
	</div>
</div>
